<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}{% endblock %} - {{ ctf_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="{{ ctf_name }}" />
    <meta name="msapplication-tooltip" content="{{ ctf_name }}" />
    <meta name="description" content="{{ ctf_description }}" />
    <meta name="og:title" content="{{ self.title() }} - {{ ctf_name }}" />
    <meta name="og:site_name" content="{{ ctf_name }}" />
    <meta name="og:description" content="{{ ctf_description }}" /> {% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />{% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" integrity="sha256-5+W3JHnvGYIJkVxUBsw+jBi9+pOlu9enPX3vZapXj5M=" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://rawgit.com/cblweb/semantic-ui-bootstrap/5da87845ae19ff6cb806d40da700a32b0c019f1a/css/smt-bootstrap.css" />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" integrity="sha384-R4/ztc4ZlRqWjqIuvf6RX5yb/v90qNGx6fS48N0tRxiGkqveZETq72KgDVJCp2TC" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js" integrity="sha256-97Q90i72uoJfYtVnO2lQcLjbjBySZjLHx50DYhCBuJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js" integrity="sha256-4PIvl58L9q7iwjT654TQJM+C/acEyoG738iL8B8nhXg=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.min.js" integrity="sha256-8r65KJgULBDiZhwDydfWrEkx3yyV/grGsGzaekobngI=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="ui inverted vertical segment">
        <div class="ui container">
            {% include "navbar.html" %}
        </div>
    </div>
</body>

</html>