<!--<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('base.index') }}">{{ ctf_name }}</a>
    </div>
    <div id="navbar-content" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            {% else %}
                <li><a href="{{ url_for('users.register') }}">Register</a></li>
                <li><a href="{{ url_for('users.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</div>-->

<div class="ui large inverted secondary stackable menu">
    <a class="active item">
    Home
  </a>
    <a class="item">
    Messages
  </a>
    <a class="item">
    Friends
  </a>
    <div class="right menu">
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search link icon"></i>
            </div>
        </div>
        <a class="ui item">
      Logout
    </a>
    </div>
</div>