<nav role="navigation" class="navbar navbar-inverse" id="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a class="navbar-brand" href="{{ url_for('base.index') }}">OpenCTF</a>
        </div>
        <div id="navbar-content" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="javascript:void(0);">Scoreboard</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('users.login') }}">Login</a></li>
            </ul>
        </div>
    </div>
</nav>