{% from "templates.html" import flashes, render_field %}
{% extends "layout.html" %}
{% block title %}Manage {{ user.username }}{% endblock %}

{% block content %}
    <div class="section gradient">
        <div class="container">
            <h1>Manage <b>{{ user.username }}</b></h1>
        </div>
    </div>
    <div class="section">
        <div class="container">
            {{ flashes() }}
            <form method="POST">
                {{ manage_user_form.csrf_token }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                User information
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    {{ render_field(manage_user_form.name) }}
                                    {{ render_field(manage_user_form.username) }}
                                    {{ render_field(manage_user_form.email) }}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                User Status
                            </div>
                            <div class="panel-body">
                                {{ render_field(manage_user_form.type) }}
                                {{ manage_user_form.banned.label(class_="control-label") }}
                                {{ manage_user_form.banned(autocomplete="off") }}
                                <br>
                                {{ manage_user_form.silenced.label(class_="control-label") }}
                                {{ manage_user_form.silenced(autocomplete="off") }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ manage_user_form.submit(class_="btn btn-primary") }}
            </form>
        </div>
    </div>
{% endblock %}
