{% extends "layout.html" %}
{% from "templates.html" import render_field, flashes %}
{% block title %}Manage {{ team.teamname }}{% endblock %}

{% block content %}
    <div class="section gradient">
        <div class="container">
            <h1>Manage <b>{{ team.teamname }}</b></h1>
        </div>
    </div>
    <div class="section">
        <div class="container">
            {{ flashes() }}
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Edit Team Information</h2>
                        </div>
                        <div class="panel-body">
                            <form method="POST">
                                {{ manage_team_form.csrf_token }}
                                <div class="row">
                                    <div class="col-xs-12">
                                        {{ render_field(manage_team_form.teamname) }}
                                        {{ render_field(manage_team_form.school) }}
                                        {{ manage_team_form.submit(class_="btn btn-primary") }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}