{% from "templates.html" import render_field %}
{% extends "layout.html" %}
{% block title %}CTF Settings{% endblock %}

{% block content %}
    <form method="POST">
        {{ settings_form.csrf_token }}
        <div class="section gradient">
            <div class="container">
                <div style="float: right;">
                    {{ settings_form.submit(class_="btn btn-lg btn-success") }}
                </div>
                <h1>Settings</h1>
            </div>
        </div>
        <div class="section">
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">General Settings</h4>
                            </div>
                            <div class="panel-body">
                                <fieldset class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            {{ render_field(settings_form.ctf_name) }}
                                            {{ render_field(settings_form.ctf_description) }}
                                            {{ render_field(settings_form.team_size) }}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Github Webhook</h4>
                            </div>
                            <div class="panel-body">
                                <fieldset class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            <p>Set a secret to enable the webhook.
                                                <a href="http://openctf.readthedocs.io/en/latest/webhooks.html" target="_blank" rel="noopener">Help?</a>
                                            </p>
                                            {{ render_field(settings_form.webhook_secret) }}
                                            <p>This is the platform's public key. Make sure you add this key to your
                                                <b>Deploy Keys</b> in order for the platform to successfully pull your repository.
                                            </p>
                                            {{ render_field(settings_form.public_key) }}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Competition Time</h4>
                            </div>
                            <div class="panel-body">
                                <fieldset class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            {{ render_field(settings_form.start_time) }}
                                            {{ render_field(settings_form.end_time) }}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">SEO/Meta Tags</h4>
                            </div>
                            <div class="panel-body">
                                <fieldset class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            {{ render_field(settings_form.keywords) }}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">Personalization</h4>
                            </div>
                            <div class="panel-body">
                                <fieldset class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            {{ render_field(settings_form.stylesheet_url) }}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">OAuth Login Credentials</h4>
                            </div>
                            <div class="panel-body">
                                <fieldset class="container-fluid">
                                    <legend>Github</legend>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            {{ render_field(settings_form.github_id) }}
                                            {{ render_field(settings_form.github_secret) }}
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="container-fluid">
                                    <legend>Google</legend>
                                    <div class="row">
                                        <div class="col-sm-12 form-group">
                                            {{ render_field(settings_form.google_id) }}
                                            {{ render_field(settings_form.google_secret) }}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}