{% from "templates.html" import render_field, render_generic_field %}
{% extends "layout.html" %}
{% block title %}Game{% endblock %}

{% block content %}
    <script type="text/javascript" src="/assets/js/rot.min.js"></script>
    <style>
        #canvas_container {
            text-align: center;
        }
    </style>
    <div class="section gradient">
        <div class="container">
            <h1>Game</h1>
        </div>
    </div>
    <div class="section">
        <div class="container" id="canvas_container">
        </div>
    </div>
    <script type="text/javascript">
        if (ROT.isSupported()) {
            var display = new ROT.Display({width: 84, height: 32});
            var container = display.getContainer();
            document.getElementById("canvas_container").appendChild(container);
        } else {
            $("#canvas_container").html("Sorry, your browser does not support" +
                " ROT.js. Please view the problems using the <a href='{{
                url_for('problems.list') }}'>basic problems viewer.</a>");
        }
    </script>
{% endblock %}