{% from "templates.html" import render_field, render_generic_field %}
{% extends "layout.html" %}
{% block title %}Register{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">Register</h2>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item">
                                {% if oauth %}
                                    <p>If you've already registered an account under this email, and you would still like to connect your
                                        account to another service, log in, and then go to "Connected Accounts" under "Settings".</p>
                                {% endif %}
                                <form method="POST">
                                    {{ register_form.csrf_token }}
                                    <fieldset>
                                        {{ render_field(register_form.name) }}
                                        {{ render_field(register_form.email) }}
                                        {{ render_field(register_form.username) }}
                                        <div class="row">
                                            <div class="col-md-6">
                                                {{ render_field(register_form.password) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ render_field(register_form.confirm_password) }}
                                            </div>
                                        </div>
                                        {{ render_generic_field(register_form.level) }}
                                    </fieldset>
                                    {{ register_form.submit(class_="btn btn-primary") }}
                                </form>
                            </div>
                            {% if not oauth %}
                                <div class="list-group-item">
                                    <h4>Registering with another service:</h4>
                                    <p>Choose one of the following services to register with. You'll still be able to make teams afterwards.</p>
                                    <p>
                                        {# <a href="{{ url_for('oauth.authorize', provider='ctfcal') }}" class="btn btn-default"><i class="fa fa-fw fa-calendar"></i> CTFCal</a> #}
                                        <a href="{{ url_for('oauth.authorize', provider='github') }}" class="btn btn-primary"><i class="fa fa-fw fa-github"></i> GitHub</a>
                                        <a href="{{ url_for('oauth.authorize', provider='google') }}" class="btn btn-danger"><i class="fa fa-fw fa-google"></i> Google</a>
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}